* {
    box-sizing: border-box;
}

body {
    background-color: #F1F1F1;
    margin: 0;
    text-align: center;
}

.right-bar {
    float: right;
    padding: 10px;
    width: 15vw;
}

.right-bar div {
    border: 1px solid gray;
    background-color: #F4F4F4;
    margin: 10px;
    padding: 30px;
    display: block;
}

#main {
    text-align: left;
    display: inline-block;
    padding: 20px 2vw 0 2vw;
    width: 70vw;
    height: 80vh;
    background-color: white;
}

#left-bar {
    float: left;
    width: 15vw;
}

#left-bar a {
    margin: auto;
    text-decoration: none;
    display: block;
}

h1 {
    margin: 0;
}

#top-menu li {
    display: inline-block;
}

#top-menu a:hover {
    background-color: black;
    color: white;
}

#top-menu li ul {
    position: absolute;
    visibility: hidden;
    background-color: black;
    padding: 0;
}

#top-menu li ul li {
    margin: 0;
    padding: 20px;
    color: whitesmoke;
    display: block;
}

#top-menu li:hover ul {
    visibility: visible;
}

#top-menu a {
    display: block;
    text-decoration: none;
    color: #9D9D9D;
    font-family: Arial serif;
    padding: 14px 16px;
    font-size: 20px;
}

#top-menu {
    background-color: #222222;
    padding: 0;
    margin: 0;
}

.footer {
    display: block;
    text-align: center;
    background-color: #555555;
}

.footer p {
    margin: 0;
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}